* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: #000;
    background-color: #eee;
}

span {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    margin: 0 .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #001832;
    border: 1px solid #ffffff;
    border-radius: 10px;
    transition: all ease-out 0.1s;
}
button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

input {
    margin: 0 .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border: 1px solid #000;
    border-radius: 10px;
}
input:focus {
    outline: #001832 solid 2px;
    transition: all ease-out 0.1s;
}
input::placeholder {
    color: #000;
}
input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    border: 1px solid #000;
    border-radius: 10px;
}
input[type="checkbox"]:checked {
    background-color: #001832;
}